version: "3.7"

services:
  postgres:
    image: "postgres"
    environment:
        POSTGRES_USER: root
        POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data/
volumes:
  pg_data:   